

.join , .login, .question  { text-align:center; width:400px; margin:0 auto;}
.login  input.email,.login input.pwd ,.join input{ padding:10px 15px; border:1px solid #D8D6DE; border-radius:5px; height:40px; width:100%; margin-bottom:5px; outline:none; color:#495057; vertical-align:middle; }

.join .terms { width:100%; height:100px;  margin-bottom:10px;}
.join input[type=submit], .login input[type=submit] { width:100%; border-radius:30px; background:#c0c0c0; color:#fff; font-size:20px; margin-top:45px; font-weight:bold; cursor:pointer;}
.login .login_btn { text-align:center; margin:30px 0;}
.login .login_btn li { display:inline-block; }
.login .login_btn li a { color:#4B4B4B; font-size:16px; }
.login .login_btn li:first-child::after,
.login .login_btn li:first-child + li::after { content:"|"; display:inline-block; margin:0 10px; color:#B9B9C3; font-size:16px;}

.login .sns { text-align:center; margin:30px 0;}
.login .sns li { float:left; width:25%;} 
.login .sns li:last-child { margin-right:0px;}
.login .sns li a { display:block; margin:0 auto; width:70px; height:70px; border:1px solid #CFCFCF; border-radius:50%; position:relative; }
.login .sns li a img { position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);}


.join .email_join {width:72%;} 
.login .auth,.join .auth { width:26%; float:right; background:#FAFAFA; border:1px solid #D8D6DE; color:#B9B9C3; height:40px; border-radius:5px; font-size:15px; }
.joinType{width:100%; display:flex; flex-wrap:wrap; justify-content:center; justify-items:center;}
.joinType img.in_img{margin-right:40px;}
.joinType a{display:block;}
.joinType a span{display:block; width:100%; text-align:center; margin-top:20px;}

.join .chkInput{position:relative;}
.join .chkInput > input{padding-right:120px;}
.join .chkInput > div{position:absolute; top:50%; right:15px; transform:translateY(-50%); width:100px;}
.join .agree{margin-bottom:20px; text-align:center;}
.join .agree input{margin-left:5px;}
/* input checkbox */
input[type="checkbox"]{-webkit-appearance: none; box-shadow: none; width:20px; height:20px; padding:0; border:1px solid #ddd; background:#fff;}
input[type="checkbox"]:checked{background:url("../images/chk_icon.png") center no-repeat #fff;}

--question

.question{
  box-sizing: border-box; 
}
  
.question .que:first-child{
    border-top: 1px solid black;
  }
  
.question .que{
  position: relative;
  padding: 17px 0;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 1px solid #dddddd;
  
}
  
.question .que::before{
  display: inline-block;
  content: 'Q';
  font-size: 14px;
  color: #006633;
  margin-right: 5px;
}

.question .que.on>span{
  font-weight: bold;
  color: #006633; 
}
  
.question .anw {
  display: none;
    overflow: hidden;
  font-size: 14px;
  background-color: #f4f4f2;
  padding: 27px 0;
}
  
.question .anw::before {
  display: inline-block;
  content: 'A';
  font-size: 14px;
  font-weight: bold;
  color: #666;
  margin-right: 5px;
}